<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bezeka.igor.myfootballnews" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Футбольные новости"
        android:theme="@style/CustomActionBarTheme" >
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.bezeka.igor.myfootballnewsnew.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.bezeka.igor.myfootballnewsnew.DetailNewsActivity"
            android:label="@string/news_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bezeka.igor.myfootballnewsnew.MainActivity" />
        </activity>
        <activity
            android:name="com.bezeka.igor.myfootballnewsnew.DetailMatchActivity"
            android:label="@string/match_title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bezeka.igor.myfootballnewsnew.MainActivity" />
        </activity>

    </application>

</manifest>
